<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">{{'OrderList'| translate}}</h4>
            <a *ngIf="checkClaim('CreateOrderCommand')" class="pull-right" data-toggle="modal" data-target="#order"> <i style="color:white"  title="{{'Add'| translate}}" class="far fa-plus-square fa-2x"></i></a>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              
              <div class="col-md-4 pull-right">
                <mat-form-field>
                  <mat-label>Filter</mat-label>
                  <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
                </mat-form-field>
              </div>
							<table mat-table [dataSource]="dataSource" matSort>


								
                   
	
                <ng-container matColumnDef="customerName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "CustomerName" | translate }}</th>
                  <td mat-cell *matCellDef="let element">{{ element.costumerName}}</td>
                </ng-container>
	
                   <ng-container matColumnDef="createdDate">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'CreatedDate'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.createdDate}}</td>
				   </ng-container>
	
                  
	
	
                   <ng-container matColumnDef="status">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Status'|translate}}</th>
                     <td mat-cell *matCellDef="let element"> 
                        <mat-checkbox [checked]="element.status" [disabled]="true"></mat-checkbox>
                     </td>
				   </ng-container>
	
	
                   
           <ng-container matColumnDef="productName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'productName'|translate}}</th>
            <td mat-cell *matCellDef="let element">{{element.productName}}</td>
  </ng-container>
	
                   <ng-container matColumnDef="amount">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Amount'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.amount}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="size">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Size'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.size}}</td>
				   </ng-container>




								<ng-container matColumnDef="update" >
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td style="width: 25px;" mat-cell
                    *matCellDef="let element">
                    <a *ngIf="checkClaim('UpdateOrderCommand')" data-toggle="modal" data-target="#order"  (click)="getOrderById(element.id)">
                      <i title="{{'Update'| translate}}" style="color:#ff5722;" class="far fa-edit"></i>
                    </a>
                  </td>
                </ng-container>

                <ng-container matColumnDef="delete" >
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td  style="width: 25px;" mat-cell
                    *matCellDef="let element">
                    <a *ngIf="checkClaim('DeleteOrderCommand')" (confirm)="deleteOrder(element.id)" [swal]="deleteSwal"><i title="{{'Delete'| translate}}" style="color: #D9534E;"class="fas fa-trash-alt"></i></a>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow style="text-align: center;">
                  <td class="mat-cell" colspan="4">{{'NoRecordsFound' |translate}} "{{input.value}}"</td>
                </tr>
							</table>
							<mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
							</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal modal-angular fade" id="order" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="clearFormGroup(orderAddForm)"><span aria-hidden="true">&times;</span></button>
        <h4 class="margin-top">
           {{'OrderForm'| translate}}
        </h4>
        <div class="separator"></div>
        <form *ngIf="orderAddForm" [formGroup]="orderAddForm" (ngSubmit)="save()">
          
					<div class="row">
						<div class="col-md-12">
							
						</div>
					</div>
					
					
					<div class="row">
            <div class="col col-md-2">
                       <mat-checkbox  formControlName="status" id="status" name="status" > status
                      </mat-checkbox>
            </div>
          </div>
					<div class="row">
						<div class="col-md-12">
							
						</div>
					</div>
          <br />  
          <div class="row">
            <div class="col-md-12">
              <!-- <select class="browser-default custom-select" formControlName="customerId">
                <option *ngFor="let item of customerlookUp" [value]="item.id">
                  {{ item.customerName }}
                </option>
              </select> -->
              <mat-form-field>
                <input type="text" placeholder="Select Customer" aria-label="Number" matInput formControlName="customerId" [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn1">
                  <mat-option *ngFor="let item of filteredCustomers | async" [value]="item">{{item.customerName}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
          <br/>
					<div class="row">
            <div class="col-md-12">
             
              <!-- <mat-form-field>
                <input type="text" placeholder="Select Product" aria-label="Number" matInput formControlName="productId" [matAutocomplete]="auto1">
                <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngFor="let item of filteredProducts | async" [value]="item">{{item.productName}}
                  </mat-option>
                </mat-autocomplete>
                </mat-form-field> -->
                <mat-form-field>
                  <input type="text" placeholder="Select Product" aria-label="Number" matInput formControlName="productId" [matAutocomplete]="auto1">
                  <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let item of filteredProducts | async" [value]="item">{{ item.productName }}</mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              </div>
					<div class="row">
            <div class="col col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="amount" type="text" id="amount" name="amount"
                       formControlName="amount" />
                <div class="alert alert-danger"
                     *ngIf="orderAddForm.get('amount')!.hasError('amount') && orderAddForm.get('amount')!.dirty">
                </div>
              </mat-form-field>
            </div>
          </div>
					<div class="row">
           
            <div class="col-md-12">
              <select class="browser-default custom-select" formControlName="size">
                <option *ngFor="let symbol of keys(size)"  [value]="symbol">{{symbol}}</option>
              </select>
						</div>
          </div>    
                   
          <button mat-raised-button type="submit" class="btn btn-danger pull-right">{{'Save'|translate}}</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>

<swal #deleteSwal title="{{'DeleteConfirm' | translate}}" icon = "error" [showCancelButton]="true"
	[confirmButtonText] = "'OK'"[cancelButtonText] = "'Cancel'" >
</swal>

